body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

small{
color: red;
}


.classForBorderAccordingToTheStatus.PENDING{
border: 2ps solid yellow;
}

.classForBorderAccordingToTheStatus.VALID{
border: 2px solid green;
}

.classForBorderAccordingToTheStatus.INVALID{
border: 2px solid red;

}

form {
margin-right: 40px;
width: 50%;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}



small{
color: rgb(196, 44, 95);
}
/*
input[type="radio"] {
  margin-right: 5px;
} */
.label{
width: 10%;
}

input.ng-invalid.ng-touched{
  border: 1px solid red;
  }


